@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}

:root {
  --color-primary: #0349F7;  /* Added primary color variable */
  --color-accent: #E1FF04;    /* Added accent color variable */
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }

  body {
    @apply font-body;
  }
}